@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
  background-color: #fafafa;
  font-family: "Nunito Sans";
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 30px;
  padding: 15px;
}
#modeButton {
  background-color: white;
  border: none;
  color: #858585;
  font-weight: bold;
}

.navBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  padding: auto;
}
.navBar-searchDiv {
  background-color: white;
  height: 20px;
  width: 25%;
  padding: 15px;
  display: inline-block;
  border-radius: 5px;
}
#searchDiv-Input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  margin-left: 10%;
}

.navBar-Dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-Button {
  background-color: white;
  color: #858585;
  padding: 15px;
  border: none;
  border-radius: 5px;
}

.dropdown-Content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-Content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-Content a:hover {
  background-color: #ddd;
}

.navBar-Dropdown:hover .dropdown-Content {
  display: block;
}

.main {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: auto;
}
.main-Card {
  width: 21%;
  height: 400px;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 5px;
}
.main-Card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 5px;
}
.homeParagraph {
  margin: 0;
  font-size: 14px;
}
.detailParagraph {
  margin: 0;
  font-size: 16px;
  margin-bottom: 5%;
}
.main-Info {
  margin: 10%;
}

.mainDiv {
  margin: auto;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 400px;
}
.mainDiv-Flag {
  width: 50%;
  height: 100%;
}
.mainDiv-Details {
  display: flex;
  flex-direction: column;
  width: 50%;
}
h2 {
  margin-left: 12.5%;
}
.details-CountrySpecs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  margin-bottom: 10%;
}
.borderCountries {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-left: 12.5%;
}
.countryButton {
  background-color: white;
  color: #858585;
  border: 1px solid #858585;
  border-radius: 5px;
  font-weight: bold;
  margin-left: 2%;
  padding: 3px;
  width: 15%;
}
.countryButton:hover {
  background-color: #a82929;
}
.backArrow-Button {
  background-color: white;
  color: #858585;
  border: 1px solid #858585;
  border-radius: 5px;
  font-weight: bold;
  width: 7%;
  height: 30px;
  margin: 2.5% 0% 2.5% 5%;
}
.borderCountries-Text {
  width: 20%;
}
.borderCountries-List {
  width: 80%;
}
@media all and (min-width: 375px) and (max-width: 1440px) {
  .main {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .main-Card {
    width: 90%;
    margin: auto;
    margin-bottom: 5%;
  }
  .navBar {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
  .navBar-searchDiv {
    width: 90%;
    margin-bottom: 5%;
  }
  .dropdown-Button {
    margin-bottom: 5%;
  }
  .mainDiv {
    display: flex;
    flex-direction: column;
    margin: auto;
  }
  .mainDiv-Flag {
    margin: auto;
    width: 90%;
  }
  .mainDiv-Details {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 90%;
  }
  .backArrow-Button {
    width: 20%;
    margin: 5%;
  }
  h2 {
    margin: 0%;
    margin-top: 5%;
  }
  .details-CountrySpecs {
    display: flex;
    flex-direction: column;
    margin: 0%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .borderCountries {
    margin: 0%;
    display: flex;
    flex-direction: column;
  }
  .borderCountries-Text {
    width: 50%;
    margin-bottom: 5%;
  }
  .countryButton {
    width: 30%;
    margin: 0;
  }
  .detailParagraph-SecondSet {
    margin-top: 5%;
  }
  .detailParagraph {
    margin-bottom: 2.5%;
  }
}
